 
 
 
 
 html {
    box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
 
     }
*,*::after, *::before {
         box-sizing: inherit;
}




body{
  margin: 0;
   padding: 0;  

   
   background-attachment: fixed;
   background:  linear-gradient(170deg, rgba(247, 95, 95, 0.841) 0, rgba(0, 0, 0, 0.6) 25%), url("../../assets/imagenes/imagen_bg.jpg");
  
   background-size: cover;
   background-attachment: fixed
    }

    :root{
        --first-color-laSegunda: rgb(226, 0, 57);
    }
    


/*LOGO*/

.logo{

  width: 40px;
  height: 40px;
  position: relative;
  
}

.logo a img{
  position: absolute;

  margin-left: 10px;
  width: 40px;
}

    /* ********** Menu ********** */
    .menu-btn {
      /*outline: thin solid var(--first-color);*/
      border: 0;
      cursor: pointer;
      
      background-color: rgb(21, 21, 21, 0);
      margin-left: 75%;
      
  
    z-index: 100;
    }
    
    .menu-btn svg {
      
      fill: white;
        
    }
    
    .menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
       background-color: rgba(5, 5, 5, 0.75); 
       background-color: black;
     border-radius: 30px;
     margin-top: -100px;
     padding-top: 100px;
     backdrop-filter: blur(.1rem);
     border: 20px solid gray;
     box-shadow: 0 5px .4rem .2rem rgb(193, 192, 192);
      opacity: 0;  /*solo se verá cuando sea activo*/
      pointer-events: none;
      transition: opacity 0.8s ease;
      z-index: -1;
    }
    
    .menu.is-active {
      opacity: 1;
      pointer-events: auto;

      
    }
    
    .menu a {
      padding: 0.3rem;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: var(--first-color-laSegunda);
      transition: color .2s;
    }
    
    .menu a:hover {
      color: rgb(192, 188, 188);

      
    }

    .none {
      display: none;
    }
   
    
    @media screen and (min-width: 1024px) {
      
      
      
      .menu-btn {
        display: none;
      }
    
      .menu {
        position: sticky;
        width: auto; /*que el ancho se adapte al nª enlaces que tenga*/
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        top: 0;
        
        z-index: 0; /*(lo puse yo)*/
      }
    
      .menu a {
          font-size: 1.2rem;
        padding: 0 0.6rem;
        color: var(--first-color-laSegunda);
        
      }
    
      .menu a:last-child { /*para igualar los paddings del último enlace
        con el del iz del logo*/
        padding-right: 0;
        margin-right: 1rem;
      }
    
      .menu a:hover {
        background-color: transparent;
        font-size: 1.2rem;
        
      }



      .container-logo-nav{
    
        width: 100%;
        position: fixed;
        top: 0%;
        padding: 10px 50px;
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    }
    




    


/*......................................................*/




h1{
    width: 70%;
    

    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    margin: 100px auto -200px auto;
    
}

h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(.5rem);
    margin: 0;
    padding: 20px 0;
    
}

/* 
.header{
    width: 100%;
    min-height: 100vh;

    position: relative;
    margin-top: -100px;
  
} */




.main-home{
    margin-top: 80vh;
}





.container-logo-nav{
    border: 15px solid rgb(108, 107, 107);
    border-radius: 25px;
    width: 80%;
    position: fixed;
    top: -40px;
    left: 10%;
    padding: 20px 20px;
    padding-top: 59px;
    background-color: black;
    display: flex;
    box-shadow: 0 5px .7rem .2rem rgb(185, 184, 184);
    align-items: center;
    z-index: 100;
}



.contenedorResultados{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 50px 0;
background-color: black;
}
/* 
.hijo{
    width: 150px;
    height: 200px;
    background-color: black;
    color: red;
    margin: 0 30px;
}

.nombre{
display: inline-block;
padding: 10px;
margin: 20px 20px;
background-color: gray;
color: black;
}
.apellido{
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgb(227, 134, 134);
    color: rgb(31, 57, 176);
    }
 */
    .contenedor-card{
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
       justify-content: space-around;
        background-color: greenyellow;
    }

    .contenedor-card >*{
        text-align: center;
        background-color: red;
        display: block;
    }

    .contenedor-card>:nth-child(2){
        background-color: aliceblue;
    }
    .contenedor-card>:nth-child(3){
        background-color: rgb(146, 203, 253);
    }
    .contenedor-card img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .contenedor-imagenes{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.033);
        backdrop-filter: blur(.2rem);
    padding-top: 20px;
        
    }


    .imagen{
        width: 280px;
        height: 400px;
 
        position: relative;
       /*  background-color: rgba(204, 204, 204, 0.074);
        background-color: rgb(228, 225, 225);
        border: 10px solid rgb(7, 7, 7);
        border-radius: 25px;
        box-shadow: 3px 5px .4rem .2rem rgb(95, 94, 94);
        transform: perspective(1000px) rotateX(10deg) rotateY(25deg);
 */
        
        
    }

    .imagen h3{
        text-align: center;
        color: white;
        text-shadow: 1px 2px rgb(50, 49, 49);
        font-weight: bold;
       top: -20px;
        position: relative;
        
    }


    
    .imagen h3::after{
        content: "";
        position: absolute;
        width: 49px;
        height: 0px;
        border-radius: 5px;
        
        background-color: transparent;
        position: absolute;
        top: 110%;
        right: 80px;
        box-shadow: .5px .75px .4rem .1rem rgb(255, 255, 255);
        animation: AnimationModel 5s ease-in-out infinite;
        
    }


    @keyframes AnimationModel{
        0%{
            transform: translateX(-30px);
        }
        25%{
            transform: translateX(0px);
        }
        60%{
            transform: translateX(-55px);
        }
       85%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(-30px);
        }
    }

    .imagen img{
     
        width: 100%;
        height: auto;
       
        object-fit: fill;
        animation: AnimationMobile 10s linear infinite;
  
    }



    @keyframes AnimationMobile{
        0%{
            
            transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        }
        25%{
            transform: perspective(1000px) rotateY(10deg) rotateX(30deg) rotateZ(20deg);
        }
       50%{
            transform: perspective(1000px) rotateY(0deg) rotateX(30deg) rotateZ(0deg);
        }
        75%{
            transform: perspective(1000px) rotateY(-20deg) rotateX(-20deg) rotateZ(-20deg);
        }
        100%{
            transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        }
    }





.link{
    display: block;
    width: 200px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--first-color-laSegunda);

    box-shadow: 0 0 .5rem .1rem white;
    text-align: center;
    margin: 100px auto;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s;
    
}
    
.link:hover{
   
    color: rgb(0, 0, 0);
    box-shadow: 0 0 .5rem .3rem white;
}

/*--------------FOOTER--------------------*/



.footer{
    background: linear-gradient(90deg, rgb(28, 56, 70) 0, rgb(38, 77, 96) 100%);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.footer__anclaFooter{
    text-decoration: none;
}
.anclaFooter__p{
    
    width: 40px;
    text-align: center;
    font-size: .4rem;

    color: white;
    transition: all .3s;
}

.anclaFooter__p:hover{
    transform: scale(1.1);
   
    color: rgb(255, 0, 0);
}

